.navbar img{
    width: 10%;
    object-fit: contain;
}
.navbar{
    display: flex;
    justify-content: space-around;
    
    box-shadow: 1px 5px 5px #e0dcdc;
    padding: 0 10px

}
.navbar ul{
    display: flex;
    gap: 2px;

}
.navbar ul li{
    list-style-type: none;
    padding: 1px 15px;
}

.navbar .nav-menu a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}

/* logout */

.primaryBtn:hover{
    transform: translateY(-5px);
    background-color: darkred;
}
.primaryBtn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-btn:hover {
  background-color: darkred;
}

#mobile-menu{
    display: none;
}


@media screen and (max-width: 768px){
    #insta-logo{
        display: none;
    }
   .navbar .nav-menu{ 
        display: none;
    }
    #mobile-menu{
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        align-items: center;
        
        
    
    }
    .navbar{
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #fff;
        box-shadow: 0px 5px 5px #fff;
        margin: 0;
        padding: 0;
    }
    .navbar ul{
        margin: 0;
        padding: 10px 10px ;
    }
}

